doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
  body
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio minima magnam facilis ab reprehenderit id, eum nam laudantium fugit dignissimos perferendis deserunt voluptatum porro iusto aperiam laboriosam aliquam recusandae suscipit.
